register-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
}

.register-container .content{
    width: 100%;
    padding: 12px;
    background: #f0f0f5;   
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.register-container .content section{
    width: 100%;
    max-width: 380px;
    margin-bottom: 24px;
}

.register-container .content section h1{
    margin: 10px 0 10px;
    font-size: 28px;
}

.register-container .content section p{
    font-size: 16px;
    color: #737380;
}

.register-container .content form{
    width: 100%;
    max-width: 450px;
}
